html {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  gap: 1rem;
  box-sizing: border-box;
  margin: 0;
}

a {
  font-weight: 500;
  color: #0e0f22;
  text-decoration: inherit;
  margin: 0;
  transition: color 0.25s;
}

a:hover {
  color: #535bf2;
}

a.active {
  color: rgb(255, 255, 255);
}

hr {
  width: 100%;
}

p {
  margin: 0;
}

.wrapper {
  max-width: 1280px;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  gap: 1rem;
  width: 95vw;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.header {
  display: flex;
  width: 100%;
  height: 5rem;
  margin: 0 auto;
  padding: 0 2rem;
  background-color: #747bff;
  box-sizing: border-box;
  justify-content: space-around;
  -webkit-box-shadow: 1px 11px 15px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 1px 11px 15px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 1px 11px 15px 0px rgba(34, 60, 80, 0.2);
}

.headerContent {
  display: flex;
}

.navbar {
  display: flex;
  gap: 0.5rem;
  align-self: center;
}

.searchBar {
  display: flex;
  gap: 1rem;
  padding: 0.25rem;
}

.card {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-radius: 8px;
  justify-content: center;
  background-color: #dfdfdf6d;
  cursor: pointer;
  transition: 0.25s;
  width: 13rem;
}

.card:hover {
  scale: 1.01;
}

.searchCard {
  display: flex;
  gap: 1rem;
}

.linkBtn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #dfdfdf6d;
  cursor: pointer;
  transition: 0.25s;
  height: fit-content;
}

.button,
.searchCardInput {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #dfdfdf6d;
  cursor: pointer;
  transition: border-color 0.25s;
}

.button:hover {
  border-color: #646cff;
}

.linkBtn:hover {
  border-color: #646cff;
}

.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.cardsContainer {
  display: flex;
  gap: 1rem;
  width: 100%;
  flex-direction: revert;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cardImage {
  width: 200px;
  padding-top: 100%;
  position: relative;
  border-radius: 8px;
  background-image: linear-gradient(to right bottom, #f413e1, #ff006f, #ff6400, #b4a400, #03c413);
  align-self: center;

}

.cardTitle {
  height: 60px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.titleText {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1.2rem;
}

.cardAuthor {
  font-style: italic;
  text-align: justify;
}

.cardText {
  text-align: justify;
}