@import './components/card/card.scss';
@import './components/header/header.scss';
@import './components/form/form.scss';
@import './components/formPage/formModal.scss';
@import './components/formCard/formCard.scss';

html {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  gap: 1rem;
  box-sizing: border-box;
  margin: 0;
}

a {
  font-weight: 500;
  color: #0e0f22;
  text-decoration: inherit;
  margin: 0;
  transition: color 0.25s;

  &:hover {
    color: #535bf2;
  }

  &.active {
    color: rgb(255, 255, 255);
  }
}

hr {
  width: 100%;
}

p {
  margin: 0;
}

.wrapper {
  max-width: 1280px;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  gap: 1rem;
  width: 95vw;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.searchBar {
  display: flex;
  gap: 1rem;
  padding: 0.25rem;
}

.searchCard {
  display: flex;
  gap: 1rem;
}

.linkBtn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #dfdfdf6d;
  cursor: pointer;
  transition: 0.25s;
  height: fit-content;
}

.button,
.searchCardInput {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #dfdfdf6d;
  cursor: pointer;
  transition: border-color 0.25s;
}

.button:hover {
  border-color: #646cff;
}

.linkBtn:hover {
  border-color: #646cff;
}

.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}