.cardText {
    text-align: justify;
}

.formCardImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 8px;
    background-image: linear-gradient(to right bottom, #f413e1, #ff006f, #ff6400, #b4a400, #03c413);
    align-self: center;
}

.formCard {
    width: 15rem;
}
