.card {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-radius: 8px;
    justify-content: center;
    background-color: #dfdfdf6d;
    cursor: pointer;
    transition: 0.25s;
    width: 13rem;

    &:hover {
        scale: 1.01;
    }
}

.cardsContainer {
    display: flex;
    gap: 1rem;
    width: 100%;
    flex-direction: revert;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cardImage {
    width: 200px;
    padding-top: 100%;
    position: relative;
    border-radius: 8px;
    background-image: linear-gradient(to right bottom, #f413e1, #ff006f, #ff6400, #b4a400, #03c413);
    align-self: center;
    background-size: cover;
}

.modalImage {
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 8px;
    background-size: cover;
}

.cardTitle {
    height: 60px;
}

.cardContent {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.modalContent {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
}

.titleText {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1.2rem;
}

.cardAuthor {
    font-style: italic;
    text-align: justify;
}

.cardText {
    text-align: justify;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 123rem;
    background-color: rgba(0, 0, 0, 0.13);
    backdrop-filter: blur(3px);
    z-index: 10;
    animation: fadeIn 0.25s;
}

.modal {
    position: fixed;
    display: flex;
    flex-direction: row;
    min-width: 500px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 46vw;
    background-color: rgba(255, 255, 255, 0.873);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 3rem 5rem gray;
    z-index: 100;
    animation: fadeIn 0.25s;
    max-height: 80vh;
    justify-content: center;
    transition: 0.25s;
}

.closeIcon {
    align-self: flex-start;
    font-weight: 900;
    margin: 0;
    cursor: pointer;
    transition: 0.25s;

    &:hover {
        color: blue;
    }
}

.loading {
    animation: rotation 2s linear infinite;
    animation: fadeIn 0.25s;
    position: fixed;
    z-index: 10;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}